@charset "utf-8";
/* CSS Document */

html,body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Segoe UI";
	text-align: center;
	font-size: 1vw;
}

::-webkit-scrollbar{
	width: 10px;
	scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #e97367;
}
::-webkit-scrollbar-track{
	background: #F3F3F3;
}

a{
	text-decoration: none;
}

button{
	border: none;
	color: #f1f1f1;
	background: #e97367;
	font-family: "Segoe UI";
	text-transform: uppercase;
	font-size: 0.8vw;
	width: 30%;
	height: 35px;
	
}

button:hover{
	background: #222222;
	cursor: pointer;
}

h1{
	font-size: 3vw;
	color: #222222;
	font-family: "Segoe UI";
	text-align: center;
}



@media screen and (max-width: 1920px){

#header{
	width: 100%;
	height: 60px;
	position: fixed;
	overflow: hidden;
	transition: all 3s;
	top: 0;
	left: 0;
	z-index: 20;
}

#navbg{
	width: 100%;
	height: 60px;
	transition: all 0.5s;
	
}

.sectionpages{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #F1F1F1;
}

#logo{
	width: 60px;
	height: 60px;
	margin-left: 10px;
	background: url(logo.png) no-repeat center;
	background-size: contain;
}

#landingscreen{
	background: url(landingpagebg.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	
}
#bookofdesign{
	background: url(bodbg2.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
#library{
	background: url(librarybg2.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
#aboutus{
	background: url(aboutbg.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#navlist{
	height: 40%;
	vertical-align:middle;
	margin-right: 5%;
	float: right;
	list-style: none;
	line-height: 25px;
}

.contextpages{
	background: #ffffff;
	width: 100%;
	height: 50%;
	overflow: hidden;
}

#navlist li{
	float: left;
	margin-left: 25px;
	font-size: 0.7vw;
	color: #222222;
	font-family: "Segoe UI";
}
#navlist #homebtn{
	color: #e97367;
	
}

#navlist li:hover{
	color: #e97367;
	cursor: pointer;
	
}


#ntekword{
	width: 40%;
	height: 50%;
	background: url(nimztekword3.png) no-repeat center;
	background-size: contain;
	margin-left: 20%;
	margin-top: 11%;
}

#ntekdes{
	font-family:  Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	width: 90%;
	transform: translateY(130px) translateX(30px);
	color: #222222;
	font-size: 0.8vw;
	text-align: center;
	text-transform: uppercase;
	
}

#readmorebtn1{
}

#landingscreen a, #library a, #bookofdesign a{
	text-decoration: none;
	color: #f1f1f1;
}

#readmorebtn1:hover, #librarybtn1:hover, #bodbtn1:hover{
	 background: #222222;
	 cursor: pointer;
}

#bodword{
	width: 50%;
	height: 40%;
	background: url(bookofdesign.png) no-repeat center;
	background-size: contain;
	transform: translateY(50px) translateX(420px);
}

#bod2{
	width: 20%;
	height: 20%;
	background: url(bod2.png) no-repeat center;
	background-size: contain;
	margin-top: 5%;
}



#bodbtn1{
	width: 30%;
	height: 40px;
	font-family: "Segoe UI";
	text-transform: uppercase;
	color: #f1f1f1;
	font-size: 0.8vw;
	align-self: center;
}



#tutorials,#contactus{
	background: #f1f1f1;
	overflow: hidden;
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.2);*/
}	


#libraryword{
	width: 90%;
	height: 30%;
	background: url(library0.png) no-repeat center;
	background-size: contain;
	transform: translateY(300px) translateX(550px);
}

#librarybtn1{
	width: 30%;
	height: 40px;
	font-family: "Segoe UI";
	text-transform: uppercase;
	font-size: 0.8vw;
	background: #e97367;
	align-self: center;
	border: none;
}

#aboutusword{
	width: 700px;
	height: 1000px;
	background: url(aboutusword.png) no-repeat center;
	background-size: contain;
	transform: translateY(-200px) translateX(-700px);
	
}

#aboutusbtn1{
	width: 50%;
	height: 40px;
	font-family: "Segoe UI";
	text-transform: uppercase;
	color: #f1f1f1;
	font-size: 0.8vw;
	background: #e97367;
	align-self: center;
	transform: translateY(620px) translateX(180px);
	border: none;
}

#aboutusbtn1:hover{
	background: #222222;
	cursor: pointer;
}

#footer{
	width: 100%;
	height: 30%;
	overflow: hidden;
	background: #e97367;
}
#navlist2{
	margin-top: 3px;
	height: 40%;
	vertical-align:middle;
	margin-left: 700px;
	float: left;
	list-style: none;
	line-height: 25px;
}

#navlist2 li{
	
	margin-top: 5px;
	font-size: 0.9vw;
	color: #f1f1f1;
	font-family: "Segoe UI";
	font-style: bold;
	text-align: center;
}
#navlist2 #homebtn2{
	color: #222222;
	
}

#navlist2 li:hover{
	color: #222222;
	cursor: pointer;
	
}

#nimztekword2{
	width: 50%;
	height: 70%;
	background: url(nimztekword2.png) no-repeat center;
	background-size: contain;
	margin-top: 2%;
	margin-left: -10%;
}

#contactinfo{
	width: 50%;
	height: 100%;
	background: url(contactword.png) no-repeat center;
	background-size: contain;
	margin-top:-10%;
	margin-right: 5%;
	float: right;
	transform: translateX(245%);
	
}

#profilehold{
	display: grid;
	grid-auto-rows: 200px;
	grid-template-columns: repeat(2, 0.3fr);
	grid-column-gap: 20em;
	justify-content: center;
	
}
.personreadmore{
	width: 60%;
	margin-left: 0%;
}

#statshold{
	display: grid;
	grid-auto-rows: 200px;
	grid-template-columns: repeat(5, 0.15fr);
	grid-column-gap: 5em;
	justify-content: center;
	
	
}

.statspic{
	width: 100%;
	height: 150px;
	background: #222222;
	border-radius: 100px;
	
}

.sinfohold{
	justify-content: center;
	font-size: 1vw;
	
}
	
}

@media screen and (max-width: 1080px){
	.sectionpages{
	width: 100%;
	height: 60%;
	overflow: hidden;
	background: #F1F1F1;
}
	.contextpages{
	background: #ffffff;
	width: 100%;
	height: 40%;
	overflow: hidden;
}
}
